@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s;
}
